<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csee.swplus.mileage.user.mapper.StudentSchoolMapper">

    <select id="findStype" resultType="String">
        SELECT
            CASE
                WHEN school = '전산전자공학부'
                    AND (major_1 LIKE '컴퓨터공학(%)'
                        OR major_1 LIKE 'AI·컴퓨터공학심화(%)'
                        OR major_1 LIKE '전자공학심화(%)'
                        OR major_1 LIKE '전자공학(%)')
                    THEN '전공'

                WHEN school = '글로벌리더십학부'
                    AND major_1 LIKE 'AI·컴퓨터공학심화(%)'
                    THEN '1학년'

                WHEN major_2 LIKE '컴퓨터공학(%)'
                    OR major_2 LIKE 'IT(%)'
                    OR major_2 LIKE 'ICT융합(%)'
                    OR major_2 LIKE 'AI Convergence &amp; Entrepreneurship(%)'
                    OR major_2 LIKE '데이터사이언스(%)'
                    THEN '융합'

                WHEN major_1 LIKE 'IT(%)'
                    OR major_1 LIKE 'ICT융합(%)'
                    OR major_1 LIKE 'AI Convergence &amp; Entrepreneurship(%)'
                    THEN '융합'

                WHEN (major_1 LIKE '생명과학(%)'
                    OR major_1 LIKE '경영(%)'
                    OR major_1 LIKE '경제(%)')
                    AND major_2 = 'AI융합'
                    THEN '융합'

                ELSE '기타'
                END
        FROM _sw_student
        WHERE school = #{school}
          AND major_1 = #{major1}
          AND (major_2 = #{major2} OR major_2 IS NULL)
            LIMIT 1
    </select>

</mapper>